---
import Section from "@hx/components/Section.astro";
import { socials } from "@hx/consts";
import Layout from "@hx/layouts/Layout.astro";
import { getCollection } from "astro:content";

const allBlogs = await getCollection("blog");
---

<Layout>
  <header class="flex items-center justify-between gap-5 px-5 sm:px-12">
    <a class="flex flex-col gap-2" href="/">
      <h1 class="text-4xl font-medium">Ali Hashemi</h1>
      <p class="text-lg text-zinc-400">Golang Developer</p>
    </a>

    <a class="flex items-center gap-3 border border-zinc-600 px-3 py-2 text-lg text-white hover:bg-zinc-800" href="/cv">
      Resume
    </a>
  </header>

  <main class="flex w-full flex-col gap-5">
    <Section title="Socials">
      <div class="flex flex-col gap-2 px-3">
        {
          socials.map((social) => (
            <a class="flex items-center gap-3 text-lg text-zinc-200 hover:underline" href={social.url}>
              <social.Icon className="h-full text-zinc-500" />
              <span>{social.value}</span>
            </a>
          ))
        }
      </div>
    </Section>

    <Section title="Blogs">
      <div class="flex flex-col gap-3 px-2">
        {
          allBlogs
            .toSorted((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
            .map((post) => (
              <a
                class="group relative flex-1 border-l-2 border-zinc-800 px-4 py-2 hover:border-zinc-500"
                href={`/blog/${post.slug}`}
              >
                <span class="absolute top-0 left-0 size-full bg-gradient-to-r from-zinc-900 to-transparent opacity-0 group-hover:opacity-100" />

                <div class="relative flex flex-col gap-2">
                  <h2>{post.data.title}</h2>

                  <p class="text-sm text-zinc-500">{post.data.summary}</p>
                </div>
              </a>
            ))
        }
      </div>
    </Section>
  </main>
</Layout>
