---
import BackButton from "@hx/components/BackButton.astro";
import Head from "@hx/components/Head.astro";
import Layout from "@hx/layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("cv");

  return posts.map((post) => ({ params: { company: post.slug === "index" ? "" : post.slug }, props: { post } }));
}

const { post } = Astro.props;
const { company } = Astro.params;
const { Content } = await render(post);

const title = company ? `${post.data.title} @${post.data.company} | Ali Hashemi` : "Resume | Ali Hashemi";
const description = `My experiences as a ${title}`;
---

<Layout>
  <Head title={title} description={description} slot="head" />

  <BackButton />

  <main class="prose overflow-hidden px-3 prose-zinc prose-invert" style={{ overflowWrap: "break-word" }}>
    <article>
      <Content />
    </article>
  </main>
</Layout>
